# docker-compose build && docker-compose up -d
# If "docker-compose logs ckan" shows DB not ready, run "docker-compose restart ckan" a few times.

version: "3.5"

services:
  nginx:
    image: nginx
    ports:
      - 80:80
    depends_on:
      - ckan
      - next
      - django

  ckan:
    container_name: ckan
    image: "bdd/ckan${VTAG}"
    links:
      - db
      - solr
      - redis
    depends_on:
      - db
    environment:
      # Defaults work with linked containers, change to use own Postgres, SolR, Redis or Datapusher
      # TODO: remove these env vars if they are in production.ini
      - CKAN_SQLALCHEMY_URL=postgresql://ckan:${POSTGRES_PASSWORD}@db/ckan
      - CKAN_DATASTORE_WRITE_URL=postgresql://ckan:${POSTGRES_PASSWORD}@db/datastore
      - CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:${DATASTORE_READONLY_PASSWORD}@db/datastore
      - CKAN_SOLR_URL=http://solr:8983/solr/ckan
      - CKAN_DATAPUSHER_URL=http://datapusher:8800
      - CKAN_SITE_URL=${CKAN_SITE_URL}
      # - CKAN_MAX_UPLOAD_SIZE_MB=${CKAN_MAX_UPLOAD_SIZE_MB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}
      - CKAN_REDIS_URL=redis://redis:6379/0
      - BETTER_EXCEPTIONS=1
      - WERKZEUG_DEBUG_PIN=off
    command: ["gunicorn", "--bind", "0.0.0.0:5000", "--workers", "4", "wsgi"]

  datapusher: # Not really used, ckan dependency
    container_name: datapusher
    image: clementmouchet/datapusher
    ports:
      - "8800:8800"

  db:
    container_name: db
    image: bdd/db
    ports:
      - 5432:5432
    environment:
      - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=ckan
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "ckan"]

  solr:
    container_name: solr
    image: bdd/solr

  redis: # Not really used, ckan dependency
    container_name: redis
    image: redis:latest

  next:
    image: "bdd/next${VTAG}"
    container_name: next
    ports:
      - "3000:3000"
    depends_on:
      - ckan

  django:
    image: "bdd/django${VTAG}"
    build:
      context: django
    environment:
      - DATABASE_URL=postgres://django:django@django-db:5432/django?conn_max_age=600
      - DEBUG=False
      - SECRET_KEY=${SECRET_KEY}
    volumes:
      - ./django:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - django-db
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]

  django-db:
    image: postgres
    environment:
      POSTGRES_DB: django
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django

    volumes:
      - django_db:/var/lib/postgresql/data

volumes:
  django_db:
