openapi: 3.0.1
info:
  title: Base dos Dados
  description: >
    **Descrição**

    - Endpoints da Base Dos Dados e do
    [CKAN]("https://docs.ckan.org/en/2.9/api/#action-api-reference")


    **Para visualizar uma base:**  

    - Visualize com o **package_show**.


    **Para atualizar uma base:**  

    - Realize download dos dados com **package_show**;

    - Atualize manualmente a base (com ponderação);

    - Valide a alteração com **bd_dataset_validate**;

    - Atualize a base com **package_update**.
  version: '0.1'
servers:
  - url: https://basedosdados.org/api/3/action
    description: Servidor de produção
  - url: https://staging.basedosdados.org/api/3/action
    description: Servidor de teste
  - url: http://localhost/api/3/action
    description: Servidor de desenvolvimento
paths:
  /dataset_purge:
    post:
      description: Deleta todos os metadados de uma base de dados.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: dataset-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=dataset_purge"
                  success:
                    type: boolean
                  result:
                    type: string
                    nullable: true
                    example: null
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /package_create:
    post:
      description: Cria uma base. E de acordo com a documentação do CKAN, para adicionar grupos a uma base o usuário deve estar autorizado a editar estes grupos.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetOnCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_create"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /package_delete:
    post:
      description: Adiciona uma tag a base que oculta a mesmo, mas não deleta no banco de dados.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: dataset-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_delete"
                  success:
                    type: boolean
                  result:
                    type: string
                    nullable: true
                    example: null
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /package_list:
    get:
      description: Lista as bases.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_list"
                  result:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
      tags:
        - CKAN
  /package_patch:
    post:
      description: "Atualiza parcialmente uma base. Note que caso esteja adicionando ou alterando um recurso é obrigatório enviar todos os recursos já existentes. Cada recurso não enviado e considerado deletado pelo CKAN. A documentação do CKAN recomenda o seguinte processo: 1) realizar o download de uma base com **package_show**; 2) Alterar os metadados desta base; e 3) Atualizar a base com **package_update**."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_patch"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /package_show:
    get:
      description: >-
        Visualiza uma base, com suas organizações, grupos, recursos e tags por
        seu nome ou ID.
      parameters:
        - name: name_or_id
          in: query
          schema:
            type: string
          example: br-bd-diretorios-brasil
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_show"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      tags:
        - CKAN
  /package_update:
    post:
      description: Atualiza os metadados de uma base. Recomenda-se sempre realizar o download dos metadados mais atuais, para então atualizar o que for necessário. Campos nulos vão sobrescrever os dados no banco.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_update"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /resource_create:
    post:
      description: Cria os metadados de um recurso associado a uma base.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceOnCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=resource_update"
                  result:
                    $ref: '#/components/schemas/Resource'
                  success:
                    type: boolean
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /resource_delete:
    post:
      description: Adiciona uma tag ao recurso que oculta o mesmo, mas não deleta no banco de dados.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: resource-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=package_delete"
                  success:
                    type: boolean
                  result:
                    type: string
                    nullable: true
                    example: null
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /resource_list:
    get:
      description: Lista os recursos.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=resource_list"
                  result:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
      tags:
        - CKAN
  /resource_patch:
    post:
      description: Atualiza parcialmente os metadados de um recurso. Recomenda-se sempre realizar o download dos metadados mais atuais, para então atualizar o que for necessário.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=resource_patch"
                  result:
                    $ref: '#/components/schemas/Resource'
                  success:
                    type: boolean
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /resource_show:
    get:
      description: Visualiza um recurso (tabela ou link externo) através de seu UUID.
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: a296c904-ae44-4d4c-ae40-10b3c3f13231
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=resource_show"
                  result:
                    $ref: '#/components/schemas/Resource'
                  success:
                    type: boolean
      tags:
        - CKAN
  /resource_update:
    post:
      description: Atualiza os metadados de um recurso. Recomenda-se sempre realizar o download dos metadados mais atuais, para então atualizar o que for necessário.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=resource_update"
                  result:
                    $ref: '#/components/schemas/Resource'
                  success:
                    type: boolean
      security:
        - ApiKeyAuth: []
      tags:
        - CKAN
  /tag_list:
    get:
      description: Lista as tags.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=tag_list"
                  result:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
      tags:
        - CKAN
  /group_list:
    get:
      description: Lista os grupos.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=group_list"
                  result:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
      tags:
        - CKAN
  /organization_list:
    get:
      description: Lista as organizações.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=organization_list"
                  result:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
      tags:
        - CKAN
  /bd_bdm_dataset_show:
    get:
      description: Procura de datasets pelo ID.
      parameters:
        - in: query
          name: dataset_id
          schema:
            type: string
          example: br_sp_alesp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_dataset_show"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_bdm_table_show:
    get:
      description: Procura um recurso (tabela ou link externo) pelo seu nome.
      parameters:
        - in: query
          name: dataset_id
          schema:
            type: string
          example: br_sp_alesp
        - in: query
          name: table_id
          schema:
            type: string
          example: deputado
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_table_show"
                  result:
                    $ref: '#/components/schemas/Resource'
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_dataset_search:
    get:
      description: Busca bases
      parameters:
        - in: query
          name: q
          description: Termo de busca
          schema:
            type: string
          example: agua
        - in: query
          name: page
          description: Índice da paginação
          schema:
            type: number
          example: 1
        - in: query
          name: page_size
          description: Tamanho da paginação
          schema:
            type: number
          example: 10
        - in: query
          name: order_by
          description: Tipo de ordenação
          schema:
            type: string
            enum: [score, popular, recent]
            nullable: true
          example: score
        - in: query
          name: resource_type
          description: Tipo de recurso
          schema:
            type: string
            enum: [bdm_table, external_link]
            nullable: true
            example: bdm_table
        - in: query
          name: tag
          description: Tags
          schema:
            type: string
        - in: query
          name: group
          description: Grupos
          schema:
            type: string
        - in: query
          name: entity
          description: Entidades
          schema:
            type: string
        - in: query
          name: organization
          description: Organizações
          schema:
            type: string
        - in: query
          name: spatial_coverage
          description: Cobertura espacial
          schema:
            type: string
        - in: query
          name: temporal_coverage
          description: Cobertura temporal
          schema:
            type: string
            example: 2000, 2001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_dataset_search"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_dataset_validate:
    post:
      description: Realiza a validação de um dataset.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_dataset_validate"
                  result:
                    $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_openapi:
    get:
      description: Exibe esta documentação em formato json.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_openapi"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_recent_datasets_list:
    get:
      description: Lista os datasets recentemente modificado.
      parameters:
        - name: limit
          in: query
          schema:
            type: number
          example: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_recent_datasets_list"
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_popular_datasets_list:
    get:
      description: Lista os datasets populares.
      parameters:
        - name: limit
          in: query
          schema:
            type: number
          example: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_popular_datasets_list"
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_translation:
    get:
      description: Gera traduções em português dos campos de metadados.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_translation"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados
  /bd_bdm_table_schema:
    get:
      description: Gera um modelo de tabela.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_table_schema"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados (Schema)
  /bd_bdm_columns_schema:
    get:
      description: Gera um modelo de colunas.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_columns_schema"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados (Schema)
  /bd_bdm_dictionary_schema:
    get:
      description: Gera um modelo de dicionário.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_dictionary_schema"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados (Schema)
  /bd_dataset_schema:
    get:
      description: Gera um modelo de dataset.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_dataset_schema"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados (Schema)
  /bd_external_link_schema:
    get:
      description: Gera um modelo de link externo.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_external_link_schema"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados (Schema)
  /bd_information_request_schema:
    get:
      description: Gera um modelo de requisição de informação.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  help:
                    type: string
                    example: "https://basedosdados.org/api/3/action/help_show?name=bd_information_request_schema"
                  result:
                    type: object
                  success:
                    type: boolean
      tags:
        - Base dos Dados (Schema)
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Dataset:
      properties:
        isopen:
          type: boolean
        private:
          type: boolean
        notes:
          type: string
        extras:
          type: array
          items:
            $ref: '#/components/schemas/Extra'
        owner_org:
          type: string
        title:
          type: string
        type:
          type: string
        maintainer:
          type: string
        ckan_url:
          type: string
        author_email:
          type: string
        id:
          type: string
        state:
          type: string
        relationships_as_object:
          type: array
          items:
            type: string
        creator_user_id:
          type: string
        metadata_modified:
          type: string
        author:
          type: string
        relationships_as_subject:
          type: array
          items:
            type: string
        metadata_created:
          type: string
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        version:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: object
            properties:
              vocabulary_id:
                type: string
              name:
                type: string
              id:
                type: string
              state:
                type: string
              display_name:
                type: string
        github_url:
          type: string
        license_id:
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        name:
          type: string
        maintainer_email:
          type: string
        license_title:
          type: string
    DatasetOnCreate:
      description: Dataset como definido no CKAN. Durante a sua criação é possível adicionar mais valores no campo Extras.
      properties:
        private:
          type: boolean
        notes:
          type: string
        extras:
          type: array
          items:
            $ref: '#/components/schemas/Extra'
        owner_org:
          type: string
        title:
          type: string
        type:
          type: string
        maintainer:
          type: string
        author_email:
          type: string
        state:
          type: string
        relationships_as_object:
          type: array
          items:
            type: string
        author:
          type: string
        relationships_as_subject:
          type: array
          items:
            type: string
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        version:
          type: string
        url:
          type: string
        tags:
          type: array
          items:
            type: object
            properties:
              vocabulary_id:
                type: string
              name:
                type: string
              id:
                type: string
              state:
                type: string
              display_name:
                type: string
        license_id:
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        name:
          type: string
        maintainer_email:
          type: string
    Extra:
      properties:
        key:
          type: string
          example: dataset_args
        value:
          type: object
    Group:
      properties:
        image_url:
          type: string
        created:
          type: string
        approval_status:
          type: string
        description:
          type: string
        title:
          type: string
        type:
          type: string
        is_organization:
          type: boolean
        display_name:
          type: string
        capacity:
          type: string
        image_display_url:
          type: string
        name:
          type: string
        id:
          type: string
        state:
          type: string
    Organization:
      properties:
        image_url:
          type: string
        created:
          type: string
        approval_status:
          type: string
        name:
          type: string
        description:
          type: string
        id:
          type: string
        state:
          type: string
        title:
          type: string
        type:
          type: string
        is_organization:
          type: boolean
    Resource:
      properties:
        project_id_prod:
          type: string
        columns:
          type: array
          items:
            type: object
            properties:
              is_in_staging:
                type: boolean
              is_partition:
                type: boolean
              name:
                type: string
              description:
                type: string
        source_bucket_name:
          type: string
        formato:
          type: string
        description:
          type: string
        package_id:
          type: string
        cache_last_updated:
          type: string
        table_id:
          type: string
        temporal_coverage:
          type: array
          items:
            type: integer
        data_cleaned_by:
          type: object
          properties:
            website:
              type: string
            ckan_user:
              type: string
            github_user:
              type: string
            code_url:
              type: string
            name:
              type: string
            email:
              type: string
        project_id_staging:
          type: string
        spatial_coverage:
          type: string
        update_frequency:
          type: string
        id:
          type: string
        state:
          type: string
        identifying_columns:
          type: array
          items:
            type: string
        last_modified:
          type: string
        mimetype_inner:
          type: string
        partitions:
          type: string
        metadata_modified:
          type: string
        created:
          type: string
        url_type:
          type: string
        dataset_id:
          type: string
        format:
          type: string
        resource_type:
          type: string
        bdm_file_size:
          type: integer
        version:
          type: string
        url:
          type: string
        published_by:
          type: object
          properties:
            website:
              type: string
            ckan_user:
              type: string
            github_user:
              type: string
            name:
              type: string
            email:
              type: string
        size:
          type: number
        cache_url:
          type: string
        datastore_active:
          type: boolean
        name:
          type: string
        mimetype:
          type: string
        data_cleaning_description:
          type: string
        position:
          type: integer
        hash:
          type: string
        entity:
          type: array
          items:
            type: string
    ResourceOnCreate:
      description: Recurso como definido no CKAN. Em sua criação é possível adicionar os demais campos contidos no modelo Resource.
      properties:
        description:
          type: string
        cache_last_updated:
          type: string
        mimetype_inner:
          type: string
        created:
          type: string
        format:
          type: string
        resource_type:
          type: string
        url:
          type: string
        size:
          type: number
        cache_url:
          type: string
        name:
          type: string
        mimetype:
          type: string
