{
    "openapi": "3.0.1",
    "info": {
        "title": "Base dos Dados",
        "description": "**Descrição**\n- Endpoints da Base Dos Dados e do [CKAN](\"https://docs.ckan.org/en/2.9/api/#action-api-reference\")\n\n**Para visualizar uma base:**  \n- Visualize com o **package_show**.\n\n**Para atualizar uma base:**  \n- Realize download dos dados com **package_show**;\n- Atualize manualmente a base (com ponderação);\n- Valide a alteração com **bd_dataset_validate**;\n- Atualize a base com **package_update**.\n",
        "version": "0.1"
    },
    "servers": [{
            "url": "https://basedosdados.org/api/3/action",
            "description": "Servidor de produção"
        },
        {
            "url": "https://staging.basedosdados.org/api/3/action",
            "description": "Servidor de teste"
        },
        {
            "url": "http://localhost/api/3/action",
            "description": "Servidor de desenvolvimento"
        }
    ],
    "paths": {
        "/package_list": {
            "get": {
                "description": "Lista as bases.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/package_show": {
            "get": {
                "description": "Visualiza uma base, com suas organizações, grupos, recursos e tags por seu nome ou ID.",
                "parameters": [{
                    "name": "name_or_id",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "example": "br-bd-diretorios-brasil"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_show"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/package_update": {
            "post": {
                "description": "Atualiza os metadados de uma base. Recomenda-se sempre realizar o download dos metadados mais atuais, para então atualizar o que for necessário. Campos nulos vão sobrescrever os dados no banco.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dataset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_update"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/package_patch": {
            "post": {
                "description": "Atualiza parcialmente uma base. Note que caso esteja adicionando ou alterando um recurso é obrigatório enviar todos os recursos já existentes. Cada recurso não enviado e considerado deletado pelo CKAN. A documentação do CKAN recomenda o seguinte processo: 1) realizar o download de uma base com **package_show**; 2) Alterar os metadados desta base; e 3) Atualizar a base com **package_update**.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dataset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_patch"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/package_create": {
            "post": {
                "description": "Cria uma base. E de acordo com a documentação do CKAN, para adicionar grupos a uma base o usuário deve estar autorizado a editar estes grupos.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DatasetOnCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_create"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/dataset_purge": {
            "post": {
                "description": "Deleta todos os metadados de uma base de dados.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "dataset-id"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=dataset_purge"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "result": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/package_delete": {
            "post": {
                "description": "Adiciona uma tag a base que oculta a mesmo, mas não deleta no banco de dados.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "dataset-id"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_delete"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "result": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/resource_list": {
            "get": {
                "description": "Lista os recursos.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=resource_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/resource_show": {
            "get": {
                "description": "Visualiza um recurso (tabela ou link externo) através de seu UUID.",
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "example": "a296c904-ae44-4d4c-ae40-10b3c3f13231"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=resource_show"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Resource"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/resource_update": {
            "post": {
                "description": "Atualiza os metadados de um recurso. Recomenda-se sempre realizar o download dos metadados mais atuais, para então atualizar o que for necessário.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Resource"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=resource_update"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Resource"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/resource_patch": {
            "post": {
                "description": "Atualiza parcialmente os metadados de um recurso. Recomenda-se sempre realizar o download dos metadados mais atuais, para então atualizar o que for necessário.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Resource"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=resource_patch"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Resource"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/resource_create": {
            "post": {
                "description": "Cria os metadados de um recurso associado a uma base.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResourceOnCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=resource_update"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Resource"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/resource_delete": {
            "post": {
                "description": "Adiciona uma tag ao recurso que oculta o mesmo, mas não deleta no banco de dados.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "resource-id"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=package_delete"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "result": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "ApiKeyAuth": []
                }],
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/tag_list": {
            "get": {
                "description": "Lista as tags.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=tag_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/group_list": {
            "get": {
                "description": "Lista os grupos.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=group_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/organization_list": {
            "get": {
                "description": "Lista as organizações.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=organization_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CKAN"
                ]
            }
        },
        "/bd_dataset_search": {
            "get": {
                "description": "Busca bases",
                "parameters": [{
                        "in": "query",
                        "name": "q",
                        "description": "Termo de busca",
                        "schema": {
                            "type": "string"
                        },
                        "example": "agua"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Índice da paginação",
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "in": "query",
                        "name": "page_size",
                        "description": "Tamanho da paginação",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "in": "query",
                        "name": "order_by",
                        "description": "Tipo de ordenação",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "score",
                                "popular",
                                "recent"
                            ],
                            "nullable": true
                        },
                        "example": "score"
                    },
                    {
                        "in": "query",
                        "name": "resource_type",
                        "description": "Tipo de recurso",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bdm_table",
                                "external_link"
                            ],
                            "nullable": true,
                            "example": "bdm_table"
                        }
                    },
                    {
                        "in": "query",
                        "name": "tag",
                        "description": "Tags",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "group",
                        "description": "Grupos",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "entity",
                        "description": "Entidades",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "organization",
                        "description": "Organizações",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "spatial_coverage",
                        "description": "Cobertura espacial",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "temporal_coverage",
                        "description": "Cobertura temporal",
                        "schema": {
                            "type": "string",
                            "example": "2000, 2001"
                        }
                    },
                    {
                        "in": "query",
                        "name": "update_frequency",
                        "description": "Frequência de Atualização",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_dataset_search"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_dataset_validate": {
            "post": {
                "description": "Realiza a validação de um dataset.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Dataset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_dataset_validate"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_bdm_dataset_show": {
            "get": {
                "description": "Busca de dataset pelo ID.",
                "parameters": [{
                    "in": "query",
                    "name": "dataset_id",
                    "schema": {
                        "type": "string"
                    },
                    "example": "br_sp_alesp"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_dataset_show"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Dataset"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_bdm_table_show": {
            "get": {
                "description": "Busca de tabela pelo ID.",
                "parameters": [{
                        "in": "query",
                        "name": "dataset_id",
                        "schema": {
                            "type": "string"
                        },
                        "example": "br_sp_alesp"
                    },
                    {
                        "in": "query",
                        "name": "table_id",
                        "schema": {
                            "type": "string"
                        },
                        "example": "deputado"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_table_show"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/Resource"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_openapi": {
            "get": {
                "description": "Exibe esta documentação em formato json.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_openapi"
                                        },
                                        "result": {
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_recent_datasets_list": {
            "get": {
                "description": "Lista os datasets recentemente modificado.",
                "parameters": [{
                    "name": "limit",
                    "in": "query",
                    "schema": {
                        "type": "number"
                    },
                    "example": 10
                }],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_recent_datasets_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Dataset"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_popular_datasets_list": {
            "get": {
                "description": "Lista os datasets populares.",
                "parameters": [{
                    "name": "limit",
                    "in": "query",
                    "schema": {
                        "type": "number"
                    },
                    "example": 10
                }],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_popular_datasets_list"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Dataset"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_translation": {
            "get": {
                "description": "Gera traduções em português dos campos de metadados.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_translation"
                                        },
                                        "result": {
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_available_options": {
            "get": {
                "description": "Gera map entre os campos Enum e os Labels de available_options.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_available_options"
                                        },
                                        "result": {
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados"
                ]
            }
        },
        "/bd_dataset_schema": {
            "get": {
                "description": "Gera um modelo de dataset.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_dataset_schema"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/DatasetSchema"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados (Schema)"
                ]
            }
        },
        "/bd_bdm_table_schema": {
            "get": {
                "description": "Gera um modelo de tabela.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_table_schema"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/TableSchema"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados (Schema)"
                ]
            }
        },
        "/bd_bdm_columns_schema": {
            "get": {
                "description": "Gera um modelo de colunas.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_columns_schema"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ColumnsSchema"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados (Schema)"
                ]
            }
        },
        "/bd_bdm_dictionary_schema": {
            "get": {
                "description": "Gera um modelo de dicionário.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_bdm_dictionary_schema"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/DictionarySchema"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados (Schema)"
                ]
            }
        },
        "/bd_external_link_schema": {
            "get": {
                "description": "Gera um modelo de link externo.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_external_link_schema"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ExternalLinkSchema"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados (Schema)"
                ]
            }
        },
        "/bd_information_request_schema": {
            "get": {
                "description": "Gera um modelo de requisição de informação.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "help": {
                                            "type": "string",
                                            "example": "https://basedosdados.org/api/3/action/help_show?name=bd_information_request_schema"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/InformationRequestSchema"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Base dos Dados (Schema)"
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        },
        "schemas": {
            "DatasetSchema": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "properties": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "name": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "title": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "notes": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "author": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "author_email": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "maintainer": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "maintainer_email": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "state": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "license_id": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "url": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "version": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "metadata_created": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "format": {
                                        "type": "string"
                                    }
                                }
                            },
                            "metadata_modified": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string",
                                                "nullable": true
                                            }
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "format": {
                                        "type": "string"
                                    }
                                }
                            },
                            "creator_user_id": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "format": {
                                        "type": "string"
                                    }
                                }
                            },
                            "private": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "license_title": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "num_resources": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "resources": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "anyOf": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "$ref": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "groups": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "owner_org": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "format": {
                                        "type": "string"
                                    }
                                }
                            },
                            "organization": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "num_tags": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "tags": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "relationships_as_object": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "relationships_as_subject": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "action__": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "visibility": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "dataset_id": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "description": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "spatial_coverage": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "allOf": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "$ref": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "temporal_coverage": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "allOf": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "$ref": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "update_frequency": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "allOf": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "$ref": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "entity": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "maxItems": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "anyOf": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "$ref": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "uniqueItems": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "time_unit": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "allOf": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "$ref": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ckan_url": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "github_url": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "yaml_order": {
                                        "type": "object",
                                        "properties": {
                                            "id_before": {
                                                "type": "string"
                                            },
                                            "id_after": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "cache_last_updated": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "format": {
                                        "type": "string"
                                    }
                                }
                            },
                            "isopen": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "download_type": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "definitions": {
                        "type": "object",
                        "properties": {
                            "LanguageEnum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "YesNoEnum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "AvailabilityEnum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "CountryEnum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "LicenseEnum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "ContinentEnum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "Admin1Enum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "Admin2Enum": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "enum": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "SpatialCoverage": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "properties": {
                                        "type": "object",
                                        "properties": {
                                            "continent": {
                                                "type": "object",
                                                "properties": {
                                                    "title": {
                                                        "type": "string"
[...]
