{% ckan_extends %}

{% block metadata_fields %}

{# bootstrap ja tem no ckan
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"></script>
<!-- <script type="text/javascript" src="deps/opt/jsv.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsonform/2.2.3/jsonform.js"></script>

<hr></hr>
<div id="metadata-jsonform-container"></div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script type="module">
  "use strict"
  import 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
  import "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"
  import "https://cdnjs.cloudflare.com/ajax/libs/jsonform/2.2.3/jsonform.js"

  {% set package_ = pkg_dict if pkg_dict else {} %} {# Need to set this in another stage. There is a bug in jinja if we run this ternary if statement together with tojson. #}
  var package_ = {{  package_ | tojson }}
  var schemas = {{ h.load_json_schema() | tojson }}
  window.debug__schemas = schemas

  var package_schema = schemas['package']
  $('#metadata-jsonform-container').jsonForm({
    schema: package_schema
    ,form: [
        "*",
        { "type": "actions", "items": [ ] } // suppress submit
    ]
    ,value: package_
  });
</script>
{% endblock %}
