{% ckan_extends %}


{% block metadata_fields %}


<hr></hr>
{# Add a resource_type select field as per: https://docs.ckan.org/en/2.9/contributing/frontend/templating.html#form-select
 # This field will be used to generate the correct form
 #}
{% set resource_types = h.get_possible_resource_types() %}
{{ form.select(name="resource_type", id="field-resource_type", label="resource_type", options=resource_types,
        is_required="true", selected=data.get("resource_type", "external_link")) }}
<hr></hr>
<div id="metadata-jsonform-container"></div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script type="module" id="form_data">
  // using global vars to export data to other module. Putting everything in a single script tag messes up with chrome debugging (because its too large)
  window.form_data__resource = {{ data | tojson(indent=2) }}
  window.form_data__schemas = {{ h.load_json_schema() | tojson(indent=2) }}


</script>

<script type="module">
  "use strict"
  import 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
  import "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"
  import "https://cdnjs.cloudflare.com/ajax/libs/jsonform/2.2.3/jsonform.js"

  var resource = window.form_data__resource
  var schemas = window.form_data__schemas

  var package_schema = schemas['package']

  function update_form_based_on_resource_type() {
    let resource_type = $("#field-resource_type").val()
    let schema = schemas[resource_type]
    if (!schema) throw `Unsupported resource type '${resource_type}'`
    let fields = Object.keys(schema.properties)

    // anyOf not supported, so we deal with it mannually
    let schema_n_fields = _deal_with_compatibility_issues(schema, fields)
    schema = schema_n_fields[0]; fields = schema_n_fields[1];

    Object.keys(resource).forEach(k =>{
      if(k.indexOf(".") == -1) return;

      const [object, key] = k.split(".")

      if(object in resource){
        resource[object][key] = resource[k];
      }else{
        resource[object] = {
          [key]: resource[k]
        }
      }
    })

    Object.keys(schema.properties).forEach(k =>{
      let value = schema.properties[k];
      if("allOf" in value){
        value['type'] = "object";
        value['properties'] = value["allOf"][0].properties
        delete value["allOf"]
      }
    })

    let opts = {
        schema: schema
        ,form: [
            ...fields,

            // { "type": "actions", "items": [{ "type": "submit", "title": "Submit" }] }// suppress submit
        ]
        ,value: resource
    }
    $('#metadata-jsonform-container').html('')
    $('#metadata-jsonform-container').jsonForm(opts)
    $('.jsonform-required > label').prepend('<span title="Este campo é obrigatório" class="control-required">* </span>')
    $('form#resource-edit').submit(_fix_array_fields)
    $(document).on('mouseover mouseout', 'select', function (){
        $('option:contains("___")').each((i, opt) => {
            opt.disabled = true;
            opt.value = opt.value.replace('___', '')
            opt.innerHTML = opt.innerHTML.replace('___', '')
        })
    })
  }

function _fix_array_fields() {
    // jsonform appends a `[#array_position]` suffix to the tag's name, which causes form data to be malformed when POSTing to backend
    // this code removes this suffix sending the data as an array, as expected
    let array_fields = $(".form-group [name*=\\[]").filter( function(idx, el) { return el.name.match(/.*\[[0-9]+\]/)})
    array_fields.each( (idx, el) => $(el).attr('name', el.name.replace(/\[[0-9]+\]$/, '')) )
}

  function _jsonSchemaFormattedObservationLevelItems(observationLevelItems){
    return {
        ...observationLevelItems[0],
        title: "Observation Level",
        enum: observationLevelItems.map(i => ["___" + i.title, ...i.enum]).flat(),
    }
  }

  function _deal_with_compatibility_issues(schema, fields) {
    delete schema.definitions

    if(schema === undefined || fields === undefined) throw new Error('missing fields')
    let observationLevel = schema.properties.observation_level

    if(observationLevel && observationLevel.items.anyOf){
       observationLevel.items = _jsonSchemaFormattedObservationLevelItems(observationLevel.items.anyOf)
    }

    fields = fields.filter( x => x != 'bdm_file_size')
    schema.properties.bdm_file_size = {'type': 'string', readOnly: true}
    fields.push({'key': 'bdm_file_size', 'type': 'text'})
    return [schema, fields]
  }
  $('#field-resource_type').on('change', update_form_based_on_resource_type);
  update_form_based_on_resource_type()
</script>
{% endblock %}
