{#
Renders a list of resources with icons and view links.

resources - A list of resources (dicts) to render
pkg - A package dict that the resources belong to.
is_activity_archive - Whether this is an old version of the dataset (and therefore read-only)

Example:
<!-- importa o snippet de outro lugar -->
{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
{% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
{% set resources_bdm, resources_links = h.separate_bdm_and_links_resources(resources) %}
<section id="dataset-resources" class="resources">
  {% if resources_bdm %}
  <h2 id='bd+-resource-list'> {{ _('Tabelas diponíveis no') }} <img src="/images/bdmais_minilogo.png"
      style="margin-right: 3px; margin-left: 3px; height: 18px"> </h2>
  <ul class="resource-list">
    {% for resource in resources_bdm %}
    {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit,
    is_activity_archive=is_activity_archive %}
    {% endfor %}
  </ul>
  {% endif %}
  <h2 id='links-resource-list'>{{ _('Links externos') }}</h2>
  {% block resource_list %}
  {% if resources %}
  <ul class="resource-list">
    {% block resource_list_inner %}
    {% for resource in resources_links %}
    {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit,
    is_activity_archive=is_activity_archive %}
    {% endfor %}
    {% endblock %}
  </ul>
  {% else %}
  {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
  {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
  <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
  {% endtrans %}
  {% else %}
  <p class="empty">{{ _('This dataset has no data') }}</p>
  {% endif %}
  {% endif %}
  {% endblock %}
</section>