{% ckan_extends %}


{% block metadata_fields %}


<hr></hr>
{# Add a resource_type select field as per: https://docs.ckan.org/en/2.9/contributing/frontend/templating.html#form-select
 # This field will be used to generate the correct form
 #}
{% set resource_types = h.get_possible_resource_types() %}
{{ form.select(name="resource_type", id="field-resource_type", label="resource_type", options=resource_types,
        is_required="true", selected=data.get("resource_type", "external_link")) }}
<hr></hr>
<div id="metadata-jsonform-container"></div>

<script type="module" id="form_data">
  // using global vars to export data to other module. Putting everything in a single script tag messes up with chrome debugging (because its too large)
  window.form_data__resource = {{ data | tojson(indent=2) }}
  window.form_data__schemas = {{ h.load_json_schema() | tojson(indent=2) }}


</script>

<script type="module">
  "use strict"
  import 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
  import "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"
  import "https://cdnjs.cloudflare.com/ajax/libs/jsonform/2.2.3/jsonform.js"

  var resource = window.form_data__resource
  var schemas = window.form_data__schemas

  var package_schema = schemas['package']

  function update_form_based_on_resource_type() {
    let resource_type = $("#field-resource_type").val()
    let schema = schemas[resource_type]
    if (!schema) throw `Unsupported resource type '${resource_type}'`
    let fields = Object.keys(schema.properties)

    // anyOf not supported, so we deal with it mannually
    let schema_n_fields = _deal_with_compatibility_issues(schema, fields)
    schema = schema_n_fields[0]; fields = schema_n_fields[1];

    let opts = {
        schema: schema
        ,form: [
            ...fields,

            // { "type": "actions", "items": [{ "type": "submit", "title": "Submit" }] }// suppress submit
        ]
        ,value: resource
    }
    $('#metadata-jsonform-container').html('')
    $('#metadata-jsonform-container').jsonForm(opts)
    $('.jsonform-required > label').prepend('<span title="Este campo é obrigatório" class="control-required">* </span>')
    $('form#resource-edit').submit(_fix_array_fields)
  }

function _fix_array_fields() {
    // jsonform appends a `[#array_position]` suffix to the tag's name, which causes form data to be malformed when POSTing to backend
    // this code removes this suffix sending the data as an array, as expected
    let array_fields = $(".form-group [name*=\\[]").filter( function(idx, el) { return el.name.match(/.*\[[0-9]+\]/)})
    array_fields.each( (idx, el) => $(el).attr('name', el.name.replace(/\[[0-9]+\]$/, '')) )
}
/*
<div class="tabbable">
  <div class="form-group">
    <label for="jsonform-34-elt-choice">
    Tipo do nivel da observacao
    </label>
    <div class="controls">
      <select class="nav" id="observation_level_type">
      </select>
    </div>
  </div>
  <div class="tab-content">
    <div data-idx="0" class="tab-pane active">
      <div class="form-group jsonform-error-text">
        <label for="jsonform-34-elt-text">Text</label>
        <div class="controls">
        <input type="text" class="form-control" name="text" value="" id="jsonform-34-elt-text" aria-label="Text"><span class="help-block jsonform-errortext" style="display:none;"></span></div>
      </div>
    </div>
    <div data-idx="1" class="tab-pane">
      <div class="form-group jsonform-error-category">
        <label for="jsonform-34-elt-category">Category</label>
        <div class="controls">
          <select name="category" id="jsonform-34-elt-category" class="form-control" disabled="disabled">
            <option value="Geography">Geography</option>
            <option value="Entertainment">Entertainment</option>
            <option value="History">History</option>
            <option value="Arts">Arts</option>
            <option value="Science">Science</option>
            <option value="Sports">Sports</option>
          </select>
          <span class="help-block jsonform-errortext" style="display:none;"></span>
        </div>
      </div>
    </div>
  </div>
</div>
*/




  function _jsonSchemaFormattedObservationLevelItems(observationLevelItems){
    return {
        ...observationLevelItems[0],
        enum: observationLevelItems.map(i => i.enum).flat(),
    }
  }

  function _deal_with_compatibility_issues(schema, fields) {
    delete schema.definitions

    if(schema === undefined || fields === undefined) throw new Error('missing fields')
    let observationLevel = schema.properties.observation_level

    if(observationLevel){
       observationLevel.items = _jsonSchemaFormattedObservationLevelItems(observationLevel.items.anyOf)
    }

    fields = fields.filter( x => x != 'bdm_file_size')
    schema.properties.bdm_file_size = {'type': 'string', readOnly: true}
    fields.push({'key': 'bdm_file_size', 'type': 'text'})
    return [schema, fields]
  }
  $('#field-resource_type').on('change', update_form_based_on_resource_type);
  update_form_based_on_resource_type()
</script>
{% endblock %}
