{#
Renders a single resource with icons and view links.

res - A resource dict to render
pkg - A package dict that the resource belongs to
can_edit - Whether the user is allowed to edit the resource
url_is_edit - Whether the link to the resource should be to editing it (set to False to make the link view the resource)
is_activity_archive - Whether this is an old version of the dataset (and therefore read-only)

Example:

{% snippet "package/snippets/resource_item.html", res=resource, pkg_dict=pkg_dict, can_edit=True, url_is_edit=False %}

#}
{% ckan_extends %}

{% block resource_item_explore %}
{% if not url_is_edit %}
<div class="dropdown btn-group">

  <!-- {% if h.is_bdm_one_click_download(res) %}
  {% set dataset, table = h.get_package_bdm_schema_name(pkg), h.get_resource_bdm_table_name(res) %}
  {% set one_click_download_url =
  "https://storage.googleapis.com/basedosdados-public/one-click-download/{}/{}.zip".format(dataset, table) %} {#TODO,
  create functions for these shared logic bits from resource_read.html #}
  <a target="_blank" class="btn btn-primary" href="{{one_click_download_url}}">
    <i class="fa fa-download"></i>
    {{ _('Download CSV') }} ({{ h.boltons.strutils.bytes2human(res['bdm_file_size']) }}{{'iB' if res['bdm_file_size'] >
    1024 else ''}})
  </a>
  {% endif %} -->

  {# From here onwards its a copy from ckan #}
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-share"></i>
    {{ _('Explorar dados') }}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% block resource_item_explore_links %}
    {{ super() }}
    {% endblock %}
  </ul>
</div>
{% endif %}
{% endblock %}