{% ckan_extends %}

{% set is_bdm = h.is_bdm(resource) %}
{% set is_bdm_one_click_download = h.is_bdm_one_click_download(resource) %}
{% set dataset, table = h.get_package_bdm_schema_name(package), h.get_resource_bdm_table_name(resource) %}
{% set big_query_url = "https://console.cloud.google.com/bigquery?p=basedosdados&d={}&t={}&page=table".format(dataset, table) %}
{% set one_click_download_url = "https://storage.googleapis.com/basedosdados-public/one-click-download/{}/{}.zip".format(dataset, table) %}

{% block resource_content %}
  {% block package_archive_notice %}
    {{ super() }}
  {% endblock %}
  {% block resource_read_title %}
    {{ super() }}
  {% endblock %}
  {% if is_bdm %}
    <div>
        Que sorte! Esta tabela esta no <img src="/images/bdmais_minilogo.png" class="inline-minilogo">!
        Para fazer o download de parte ou de todos os dados voce pode usar o
        <a target="_blank" href={{big_query_url}}>Big Query!</a>
        {# Copie essa query SQL abaixo e cole no editor do Big Query para baixar as 100 primeiras linhas da tabela. #}
        Para mais informações e outras opções de download <a target="_blank" href="https://basedosdados.github.io/mais/">consulte a documentação aqui</a>!
    </div>
    <h3> {{ _('Query SQL de exemplo: ') }} </h3>
    <!-- TODO: melhorar botao de copy paste, mudar esse link e script para assets do ckan-->
    <link href="/prism.css" rel="stylesheet" /> <script src="/prism.js"></script>
    <pre><code class="language-sql">{{ h.make_example_select_query(res, package) }}</code></pre>
    {% if is_bdm_one_click_download %}
    <hr>
    <div>
        {% set how_many_downloads_with_10_reais = 15_000_000_000 // resource['bdm_file_size']  %} {# 15 GB equivale mais ou menos a 10 Reais#}
        Essa base economizou algumas horas da sua vida? Com uma <a href="https://novo.apoia.se/support/basedosdados/new?step=new">doação de R$10</a> {# outra opcao menos agressiva eh usar esse link https://apoia.se/basedosdados ? #}
        voce ajuda {{ how_many_downloads_with_10_reais if how_many_downloads_with_10_reais < 1000 else 'milhares de' }} pessoas
        a baixarem esse arquivo de graça! <!--TODO: colocar um tooltip aqui explicando a conta --!>
    </div
    {% endif %}
  {% else %}
      {% block resource_read_url %}
        {{ super() }}
      {% endblock %}
      <div class="prose notes" property="rdfs:label">
        {% if res.description %}
          {{ h.render_markdown(res.description) }}
        {% endif %}
        {% if not res.description and package.notes %}
          <h3>{{ _('Dataset description:') }}</h3>
          <blockquote>{{ h.markdown_extract(h.get_translated(package, 'notes')) }}</blockquote>
          <p>{% trans dataset=package.title, url=h.url_for(package.type ~ '.read', id=package.id if is_activity_archive else package.name) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
        {% endif %}
      </div>
  {% endif %}
{% endblock %}

{% block resource_view_content %} {% endblock %}
{% block primary %} {% endblock %}
{% block secondary %} {% endblock %}


{% block resource_actions_inner %}
{{ super() }}
{% if is_bdm %}
    <div class="btn-group">
        {% if is_bdm_one_click_download %}
            <a target="_blank" class="btn btn-primary resource-url-analytics resource-type-bdm"
            href="{{one_click_download_url}}"
            >
            <i class="fa fa-download"></i>
            {{ _('Download Direto') }} ({{ h.boltons.strutils.bytes2human(resource['bdm_file_size']) }}{{'iB' if resource['bdm_file_size'] > 1024 else ''}})
        </a>
        {% else %}
            <button disabled class="btn btn-primary resource-url-analytics resource-type-bdm" style="cursor:not-allowed">
            {{ _('Download Direto Indisponivel') }}
            </button>
        {% endif %}
    </div>
<div class="btn-group">
    <a target="_blank" class="btn btn-primary resource-url-analytics resource-type-bdm" href="{{big_query_url}}">
        <i class="fa fa-external-link"></i> {{ _('Download via Big Query') }}
    </a>
</div>
{% endif %}
{% endblock %}
