{% ckan_extends %}

{% set is_bdm = h.is_bdm(resource) %}
{% set is_bdm_one_click_download = h.is_bdm_one_click_download(resource) %}
{% if is_bdm %}
    {% set dataset, table = h.get_package_bdm_schema_name(package), h.get_resource_bdm_table_name(resource) %}
    {% set big_query_url = "https://console.cloud.google.com/bigquery?p=basedosdados&d={}&t={}&page=table".format(dataset,
    table) %}
    {% set one_click_download_url =
    "https://storage.googleapis.com/basedosdados-public/one-click-download/{}/{}.zip".format(dataset, table) %}
{% endif %}

{% block resource_content %}
{% block package_archive_notice %}
{{ super() }}
{% endblock %}
{% block resource_read_title %}
{{ super() }}
{% endblock %}
{% if is_bdm %}
<div>
  Esta tabela está tratada e atualizada no nosso
  <i>datalake</i> público. Além de fazer o <b>download do CSV
    completo</b> no botão acima, você pode
  também acessar via:
</div><br>
<hr>
<h2> {{ _('Acesse os dados via BigQuery') }} </h2>
<div>Clique no botão <i>Consultar no BigQuery</i> e utilize o <i>Query Editor</i> (Editor de consultas) para
  acessar os dados. Copie a query abaixo para consultar todos dados da tabela:
</div>
<link href="/prism.css" rel="stylesheet" />
<script src="/prism.js"></script>
<pre><code class="language-sql">{{ h.make_example_bq_query(res, package) }}</code></pre>
<div><br>
  ℹ️ Para usar o BigQuery basta ter uma conta Google. Primeira vez usando?
  <a target="_blank" href="https://basedosdados.github.io/mais/">Veja o
    passo a passo para acessar os dados aqui</a>
</div><br>
<div><a target="_blank" href=https://youtu.be/nGM2OwTUY_M>
    ▶️ Assista ao nosso tutorial no Youtube</a></div><br>
<hr>
<h2> {{ _('Acesse os dados via Python 🐍') }} </h2>
<div>Criamos um cliente em Python para você acessar os dados do nosso
  <i>datalake</i> público. Com o ambiente configurado, para obter os dados da
  tabela basta rodar:
</div>
<link href="/prism.css" rel="stylesheet" />
<script src="/prism.js"></script>
<pre><code class="language-sql">{{ h.make_example_python_query(res,
package) }}</code></pre>
<div><br>
  ℹ️ <b>Para usar nosso cliente é necessário um projeto no Google Cloud!</b><br>
  Rode o comando sem o parâmetro <i>billing_project_id</i> na primeira vez
  e siga o passo a passo na tela para criar e configurar
  um projeto gratuito -
  <a target="_blank" href=https://basedosdados.github.io/mais/access_data_local>leia mais aqui.</a>
</div><br>
<div><a target="_blank" href=https://www.youtube.com/channel/UCO1AcMaEa7bArIHb85bkSYA>
    ▶️ Assista ao nosso tutorial no Youtube</a></div><br>
<hr>
<h2> {{ _('Acesse os dados via R') }} </h2>
<div>Criamos um cliente em R para você acessar os dados do nosso
  <i>datalake</i> público. Com o ambiente configurado, para obter os dados da
  tabela basta rodar:
</div>
<link href="/prism.css" rel="stylesheet" />
<script src="/prism.js"></script>
<pre><code class="language-sql">{{ h.make_example_r_query(res,
package) }}</code></pre>
<div><br>
  ℹ️ <b>Para usar nosso cliente é necessário um projeto no Google Cloud!</b><br>
  Rode o comando sem o parâmetro <i>billing_project_id</i> na primeira vez
  e siga o passo a passo na tela para criar e configurar
  um projeto gratuito -
  <a target="_blank" href=https://basedosdados.github.io/mais/access_data_local>leia mais aqui.</a>
</div><br>
<div><a target="_blank" href=https://youtu.be/5_Ir8neyFf4>
    ▶️ Assista ao nosso tutorial no Youtube</a></div><br>
{% if is_bdm_one_click_download %}
<hr>
<h3>
  {% set how_many_downloads_with_50_reais = 75_000_000_000 // resource['bdm_file_size'] %} {# 15 GB equivale mais ou
  menos a 10 Reais#}
  <a href="https://novo.apoia.se/support/basedosdados/new?step=new">
    Quantas horas você economizou? Doando R$50 você ajuda mais {{
    how_many_downloads_with_50_reais }} pessoas
    a terem essa base de graça! 💚</a>
</h3>
<i>Como fazemos a conta? R$ 50 reais cobrem cerca de
  15GB de downloads - dividindo pelo tamanho da tabela temos quantos
  downloads são possíveis.</i>

</div>
{% endif %} {% else %} {% block resource_read_url %} {{ super() }} {% endblock %}
<div class="prose notes"
  property="rdfs:label">
{% if res.description and res.description != 'CHECK' %}
{{ h.render_markdown(res.description) }}
{% elif package.notes %}
<h3>{{ _('Dataset description:') }}</h3>
<blockquote>{{ h.markdown_extract(h.get_translated(package, 'notes')) }}</blockquote>
<p>{% trans dataset=package.title, url=h.url_for(package.type ~ '.read', id=package.id if is_activity_archive else
      package.name) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
{% endif %}
  </div>
  {% endif %}
  {% endblock %}

  {% block resource_view_content %} {% endblock %}
  {% block secondary %} {% endblock %}

{% block resource_additional_information_inner %}
    <div class="module-content">
      <h2>{{ _('Additional Information') }}</h2>
      <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
        <thead>
          <tr>
            <th scope="col">{{ _('Field') }}</th>
            <th scope="col">{{ _('Value') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ _('Data last updated') }}</th>
            {# <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td> #}
            <td>{{ _('unknown') }}</td>
          </tr>
          <tr>
            <th scope="row">{{ _('Metadata last updated') }}</th>
            <td>{{ h.render_datetime(res.metadata_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
          </tr>
          <tr>
            <th scope="row">{{ _('Created') }}</th>
            <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
          </tr>
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
          </tr>
          <tr>
            <th scope="row">{{ _('License') }}</th>
            <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
          </tr>
          {% for key, value in h.format_resource_items(res.items()) %}
            {% if key not in ('created', 'metadata modified', 'last modified', 'format') %}
              <tr class="toggle-more"><th scope="row">{{ key | capitalize }}</th><td>{{ value }}</td></tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}



  {% block resource_actions_inner %}
  {{ super() }}
  {% if is_bdm %}
<div class="btn-group">
  {% if is_bdm_one_click_download %}
  <a target="_blank" class="btn btn-primary resource-url-analytics resource-type-bdm" href="{{one_click_download_url}}">
    <i class="fa fa-download"></i>
    {{ _('Download CSV') }} ({{ h.boltons.strutils.bytes2human(resource['bdm_file_size']) }}{{'iB' if
    resource['bdm_file_size'] > 1024 else ''}})
  </a>
  {% else %}
  <button disabled class="btn btn-primary resource-url-analytics resource-type-bdm" style="cursor:not-allowed">
    {{ _('Download Direto Indisponivel') }}
  </button>
  {% endif %}
</div>
<div class="btn-group">
  <a target="_blank" class="btn btn-primary resource-url-analytics resource-type-bdm" href="{{big_query_url}}">
    <i class="fa fa-external-link"></i> {{ _('Consultar no Big Query') }}
  </a>
</div>
{% endif %}
{% endblock %}
