{% set content = '''
### Use nosso *datalake* público

Baixe dados já *limpos*, *integrados* e *atualizados* de forma
extremamente fácil através do nosso *datalake* público.

As bases disponíveis para download e análise possuem o ícone [<img src="/images/bdmais_minilogo.png" style="margin-right: 3px;
margin-left: 3px; height: 18px">](/dataset/?download_type=BD+Mais).

Saiba mais em: https://basedosdados.github.io/mais/
'''.strip() %}

<div class="box announcemnt-block">
  <div class="inner">
    {{ h.render_markdown(content, allow_html=True) }}
  </div>
</div>