.questionContainer a {
  color: #42B0FF;
  font-weight: 400;
}

.questionContainer a:hover {
  opacity: 0.7;
}

.questionContainer ul {
  padding-left: 20px;
}
.questionContainer ol {
  padding: 20px 0 0 20px;
}

.questionContainer li:last-child {
  padding-bottom: 20px;
}

.questionContainer button:hover {
  opacity: 0.7;
}