.questionContainer a {
  color: #0068C5;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.questionContainer a:hover {
  color: #0057A4;
}

.questionContainer ul {
  padding-left: 20px;
}
.questionContainer ol {
  padding: 20px 0 0 20px;
}

.questionContainer li:last-child {
  padding-bottom: 20px;
}

.questionContainer pre {
  background-color: #282b2e;
  padding: 16px;
  border-radius: 10px;
  color: #FFF;
  margin: 8px 0;
}

.link {
  color: #0068C5;
}
.link:hover {
  color: #0057A4;
}