@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Ubuntu, Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

.rounded {
  border-radius: 31.8889px;
}

#blog h1 {
  font-weight: bold;
  font-size: 40px;
  color: #2b8c4d;
  font-family: Lato;
  letter-spacing: 0.5px;
}

#blog p {
  font-size: 16px;
  color: #6e6e6e;
  font-family: Lato;
  letter-spacing: 0.5px;
}

#form-hbspt {
  background-color: white;
  padding: 5% 7%;
  padding-bottom: 0px;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #dadada;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 10px;
}

.card :hover {
  border-bottom: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chakra-checkbox__control {
  border-width: 0px !important;
}

.chakra-checkbox__control[data-focus] {
  box-shadow: none !important;
}

.chakra-checkbox__control[data-checked] {
  width: 100%;
  height: 100%;
}

@keyframes gray-scale {
  50% {
    -webkit-filter: brightness(98%); 
    filter: brightness(98%);
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  align-self: center;
  padding: 24px;
}

.pagination li {
  text-align: center;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
}

.pagination a {
  font-family: "Roboto";
  font-weight: 500;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  border: 1px solid #dedfe0;
  border-radius: 8px;
  color: #252A32;
}

.pagination .active {
  background-color: #2b8c4d;
  color: white;
}

.pagination .next-page a {
  border: 1px solid transparent;
  color: #2B8C4D;
}

.pagination .next-page a::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-color: #2B8C4D;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  margin-left: 8px;
}

.pagination .previous-page a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid transparent;
  color: #2B8C4D;
}

.pagination .previous-page a::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 9px;
  height: 9px;
  border-color: #2B8C4D;
  border-left: 2px solid;
  border-top: 2px solid;
  transform: rotate(-45deg);
  margin-right: 8px;
}

.pagination .disabled a {
  cursor: default !important;
  color: #dedfe0;
  pointer-events: none;
  border: 1px solid transparent;
}

.pagination .active a{
  color: white;
}

.swiper {
  min-width: 100%;
  padding: 0 32px !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
  color: #DEDFE0 !important;
  background-color: #FFF;
  top: 0 !important;
  margin-top: 0 !important;
  height: 100% !important
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev::after ,.swiper-button-next::after {
  font-size: 32px !important;
}

.swiper-pagination-bullet-active {
  background-color: #2b8c4d !important;
}

.hljs {
  background-color: #252A32 !important;
}

.rjsf {
  width: 100%;
  white-space: break-spaces;
}

.rjsf pre {
  max-width: 50%;
  white-space: break-spaces;
}

*:focus {
  box-shadow: none !important;
}

.token.number {
  color: #e44748 !important;
}

.token.keyword {
  color: #ffdf54 !important;
}

.token.operator {
  color: #ace158 !important;
}

.tour-dataset-buttons.introjs-prevbutton {
  display: none;
}

.tour-dataset-tooltip {
  max-width: 400px !important;
  min-width: 400px !important;
}

.tour-dataset-tooltip .introjs-tooltip-header {
  padding: 16px 16px 0 16px !important;
}

.tour-dataset-tooltip .introjs-tooltip-header .introjs-skipbutton {
  font-family: 'Roboto';
  font-size: 36px !important;
  font-weight: 300 !important;
  color: #252A32 !important;
}

.tour-dataset-tooltip .introjs-tooltip-header .introjs-skipbutton:hover {
  opacity: 0.8;
}

.tour-dataset-tooltip .introjs-tooltip-header .introjs-tooltip-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #252A32;
}

.tour-dataset-tooltip .introjs-tooltiptext {
  padding: 10px 16px 12px !important;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #252A32;
}

.tour-dataset-tooltip .introjs-tooltiptext ul {
  padding: 10px 0 10px 12px !important;
}

.tour-dataset-tooltip .introjs-tooltiptext li {
  font-family: 'Roboto';
}

.tour-dataset-tooltip .introjs-tooltiptext strong {
  font-family: 'Roboto';
  font-weight: 500;
}

.introjs-tooltipbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  padding: 0 16px 20px !important;
  border-top: 0px !important;
}

.introjs-tooltipbuttons::after {
  display: none !important;
}

.introjs-custom-skip-dataset {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  min-width: 93px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #2B8C4D;
  border-radius: 8px;
  font-family: 'Roboto' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2B8C4D;
}

.introjs-custom-skip-dataset:hover {
  border-color: #22703E;
  color: #22703E;
}

.introjs-tooltipbuttons .tour-dataset-buttons.introjs-donebutton, .tour-dataset-buttons.introjs-nextbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  min-width: 93px;
  height: 40px;
  background: #2B8C4D;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.introjs-tooltipbuttons .tour-dataset-buttons.introjs-donebutton:hover, .tour-dataset-buttons.introjs-nextbutton:hover {
  background: #22703E;
}
