html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

#blog h1 {
  font-weight: bold;
  font-size: 40px;
  color: #2b8c4d;
  font-family: Lato;
  letter-spacing: 0.1em;
}

#blog p {
  font-size: 16px;
  color: #6e6e6e;
  font-family: Lato;
  letter-spacing: 0.1em;
}

#form-hbspt {
  background-color: white;
  padding: 5% 7%;
  padding-bottom: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card :hover {
  border-bottom: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chakra-checkbox__label {
  font-size: 14px !important;
}

.chakra-checkbox__control {
  background-color: transparent !important;
  padding: 5px !important;
  width: 20px !important;
  height: 20px !important;
  border-width: 3px !important;
  border-radius: 4px !important;
}

.chakra-checkbox__control svg {
  color: #2b8c4d;
}

.pagination {
  list-style-type: none;
  display: flex;
  align-self: center;
  padding-top: 5px;
}

.pagination li {
  text-align: center;
  margin-right: 10px;
  border: 1px solid #dedfe0;
  border-radius: 10px;
  display: flex;
}

.pagination a {
  font-family: "Lato";
  font-weight: 700;
  min-width: 35px;
  padding: 3px;
}

.pagination .active {
  background-color: #2b8c4d;
  color: white;
  border: 1px solid #2b8c4d;
}

.pagination .disabled a {
  cursor: default !important;
  color: #dedfe0;
}

.markdown {
  word-break: break-word;
}

.markdown a {
  text-decoration: underline;
  color: #3aa1eb;
}

.markdown ul {
  margin-top: 10px;
  margin-left: 30px;
}

.BrainhubCarousel__arrows {
  background-color: transparent !important;
}

.BrainhubCarousel__arrows {
  background-color: transparent !important;
}

.BrainhubCarousel__arrowLeft {
  transform: translateX(10px);
}

.BrainhubCarousel__arrowRight {
  transform: translateX(-10px);
}

.BrainhubCarousel__arrows span {
  border-color: #dedfe0 !important;
}

.rjsf {
  width: 100%;
  white-space: break-spaces;
}

.rjsf pre {
  max-width: 50%;
  white-space: break-spaces;
}
