.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 5px;
}

.modal {
  overflow-y: auto;
  width: 306px;
  scroll-margin-left: 20px;
}

@media (max-width: 600px) {
  .modal {
    overflow-y: initial;
    width: 300px;
  }
}

.modal::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}