.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.modal {
  width: 400px;
  height: 100%;
  scroll-margin-left: 20px;
}

@media (max-width: 600px) {
  .modal {
    overflow-y: initial;
    width: 400px;
  }
}

.modal::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}