{% ckan_extends %}


{% block facet_list_heading %}
<h2 class="module-heading">
    <i class="fa fa-filter"></i>
    {% set title = title or h.get_facet_title(name) %}
    {% if name == "download_type" %}
        <a href="https://basedosdados.github.io/mais/" data-toggle="tooltip"
                title="Conheça a BD Mais, a forma mais poderosa de baixar dados públicos, clique pra saber mais..."
                target="_blank">
            {{ title }}
            <i class="fa fa-question-circle"></i>
        </a>
    {% else %}
        {{ title }}
    {% endif %}
</h2>
{% endblock %}

{% block facet_list_items %}
{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets) %}
    {% if items %}
    <nav aria-label="{{ title }}">
        <ul class="{{ (nav_class or 'list-unstyled nav nav-simple nav-facet') + ' facet--' + name }}">
        {% for item in items %}
            {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
            {% set label = label_function(item) if label_function else item.display_name %}
            {% set label_truncated = h.truncate(label, 30) if not label_function else label %}
            {% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}
            <li class="{{ nav_item_class or 'nav-item' + ' facet--' + name + '--' + item['name'].replace(' ', '_') }}{% if item.active %} active{% endif %}">
            <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                {% if item['name'] == 'BD Mais' and name == "download_type" %}
                <span class="item-label">
                    <img src="/images/bdmais_minilogo.png" class="bd-mais-icon">
                </span>
                {% else %}
                <span class="item-label">{{ label_truncated }}</span>
                {% endif %}
                <span class="hidden separator"> - </span>
                <span class="item-count badge">{{ count }}</span>
            </a>
            </li>
        {% endfor %}
        </ul>
    </nav>

    <p class="module-footer">
        {% if h.get_param_int('_%s_limit' % name) %}
        {% if h.has_more_facets(name, search_facets or c.search_facets) %}
            <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
        {% endif %}
        {% else %}
        <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}</a>
        {% endif %}
    </p>
    {% else %}
    <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
    {% endif %}
{% endwith %}
{% endblock %}
