{% ckan_extends %}

{# when extras is not defined, link to '#'. TODO: we should guarantee extras is always defined #}

{% block resources_inner %}
{% if package.get('download_type') == "BD Mais" %}
    {% set href = h.add_url_param(new_params={'download_type': 'BD Mais'}, extras=extras ) if extras and 'download_type=BD+Mais' not in h.current_url() else '#' %}
    <a href="{{href}}" class="">
        <img src="/images/bdmais_minilogo.png" class="bd-mais-icon" style="height:16px">
    </a>
{% endif %}

{% for group in package.get('groups', []) %}
    {% set href = h.add_url_param(new_params={'groups': group['name']}, extras=extras) if extras and 'groups=' + group['name'] not in h.current_url() else '#' %}
    <a href="{{href}}" class="badge badge-group">{{group['display_name']}}</a>
{% endfor %}
{% endblock %}
