name: Continuous Deployment
on:
  push:
    branches:
      - staging
      - master
  workflow_dispatch:

jobs:
  deploy-staging:
    if: github.ref_name == 'staging'
    name: Deploy Staging Environment
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: 'https://staging.basedosdados.org'

    steps:
      - name: Clone Repository
        uses: actions/checkout@v2

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Import Secrets
        id: importing
        uses: hashicorp/vault-action@v2.4.1
        with:
          url: https://vault.basedosdados.org
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            secret/data/ckan_credentials    ENV_STAGING         | CKAN_ENV_STAGING ;
            secret/data/ckan_credentials    INI_STAGING         | CKAN_INI_STAGING ;
            secret/data/aws_credentials     BD_PRIVATE_SSH_KEY  | AWS_BD_PRIVATE_SSH_KEY

      - name: Add Secret Files
        env:
          CKAN_ENV_STAGING: ${{ secrets.DOT_ENV_PROD }}
          CKAN_INI_STAGING: ${{ secrets.CKAN_STAGING_INI }}
        run: |
          echo "$CKAN_ENV_STAGING" > .env.prod && \
          echo "$CKAN_INI_STAGING" > ./configs/ckan.override.prod.ini && \
          mkdir ~/.ssh && \
          echo "$AWS_BD_PRIVATE_SSH_KEY" > ~/.ssh/BD.pem && \
          chmod 700 ~/.ssh ~/.ssh/BD.pem

      - name: Deploy Website
        env:
          HOST: ec2-user@staging.basedosdados.org
          HOST_NAME: staging.basedosdados.org
        run: ./deploy.sh deploy

      - name: Report Failures
        if: "${{ failure() }}"
        uses: cstuder/apprise-ga@master
        env:
          APPRISE_URL: "${{ secrets.APPRISE_NOTIFICATION_URL }}"
          INFRA_HANDLES: "${{secrets.NOTIFICATION_DISCORD_INFRA_HANDLES}}" # not working, debug this
        with:
          title: "Broken CI"
          message: "<#809077231611674685>. CI DEPLOY FAILED, please check https://github.com/basedosdados/website/actions"

  deploy-production:
    if: github.ref_name == 'master'
    name: Deploy Production Environment
    runs-on: ubuntu-latest
    environment:
      name: prod
      url: 'https://basedosdados.org'

    steps:
      - name: Clone Repository
        uses: actions/checkout@v2

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Import Secrets
        id: importing
        uses: hashicorp/vault-action@v2.4.1
        with:
          url: https://vault.basedosdados.org
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            secret/data/ckan_credentials    ENV_PRODUCTION      | CKAN_ENV_PRODUCTION ;
            secret/data/ckan_credentials    INI_PRODUCTION      | CKAN_INI_PRODUCTION ;
            secret/data/aws_credentials     BD_PRIVATE_SSH_KEY  | AWS_BD_PRIVATE_SSH_KEY

      - name: Add Secret Files
        env:
          CKAN_ENV_PRODUCTION: ${{ secrets.DOT_ENV_PROD }}
          CKAN_INI_PRODUCTION: ${{ secrets.CKAN_STAGING_INI }}
        run: |
          echo "$CKAN_ENV_PRODUCTION" > .env.prod && \
          echo "$CKAN_INI_PRODUCTION" > ./configs/ckan.override.prod.ini && \
          mkdir ~/.ssh && \
          echo "$AWS_BD_PRIVATE_SSH_KEY" > ~/.ssh/BD.pem && \
          chmod 700 ~/.ssh ~/.ssh/BD.pem

      - name: Deploy Website
        env:
          HOST: ec2-user@basedosdados.org
          HOST_NAME: basedosdados.org
        run: ./deploy.sh deploy

      - name: Report Failures
        if: "${{ failure() }}"
        uses: cstuder/apprise-ga@master
        env:
          APPRISE_URL: "${{ secrets.APPRISE_NOTIFICATION_URL }}"
          INFRA_HANDLES: "${{secrets.NOTIFICATION_DISCORD_INFRA_HANDLES}}" # not working, debug this
        with:
          title: "Broken CI"
          message: "<#809077231611674685>. CI DEPLOY FAILED, please check https://github.com/basedosdados/website/actions"
